@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0A0E1A;
  color: #F9FAFB;
  font-family: 'Inter', sans-serif;
}

.font-mono {
  font-family: 'IBM Plex Mono', monospace;
}
